.main-app {
    background-color: #e6fffa;
    border: 2px black solid;
    font-family: Lato;
}

.homepage {
    border: 2px green solid;
}

.questionnaire_forms {
    padding: 1em 4em 1em 4em;
    background: url('./form-page-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.formHeader {
    margin-bottom: 1em;
}

.formHeader:after {
    content:' ';
    display:block;
    border:1px solid black;
}

.formCategory {
    font-weight: bold;
}

.homepage {
    background: url('http://i.huffpost.com/gen/1682265/images/o-ON-THE-COMPUTER-facebook.jpg') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.triageRoom, .triageCounselorRoom, .counselorRoom {
    background-color: blue;
}

.userInfoToShow {
    padding: 2em;
}


